/* 
  RESET CSS
  Garante que todos os navegadores comecem do zero, sem margens indesejadas.
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
  VARIÁVEIS CSS (Preparação para os Temas e SaaS)
  Aqui definimos a paleta de cores padrão do Allure. 
  Futuramente, nosso Contexto React irá alterar essas variáveis dinamicamente 
  conforme as configurações de cada salão no banco de dados.
*/
:root {
  /* Fundo ligeiramente mais limpo e gelado para dar contraste com as cores quentes */
  --cor-fundo: #f4f5f7;

  /* Texto mais escuro para melhor legibilidade */
  --cor-texto: #2d3748;

  /* Um Rosa/Berry vibrante, elegante e com muita presença comercial */
  --cor-primaria: #c74b67;

  /* Um tom de apoio mais suave, mas com vida */
  --cor-secundaria: #fce7eb;

  --cor-cards: #ffffff;
  --cor-borda: #e2e8f0;

  --raio-borda: 10px;
  --sombra-leve: 0 4px 12px rgba(0, 0, 0, 0.08); /* Sombra um pouco mais espalhada para dar profundidade */
}
body {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  -webkit-font-smoothing: antialiased; /* Deixa as fontes mais nítidas no Mac/iOS */
}
