.recebimento-box {
  max-width: 450px;
}
.form-recebimento {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-linha-dupla {
  display: flex;
  gap: 1rem;
}
.form-linha-dupla > .form-grupo {
  flex: 1;
}
